@media (min-width: 800px) {
  div {
    padding: 10px 5%;
    margin: auto;
  }
  img {
    max-width: 50%;
    max-height: 50%;
  }
}
@media (max-width: 480px) {
  div {
    padding: 5px 0;
    margin: auto;
  }
  img {
    display: none;
  }
}
